<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gtag }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.gtag }}');
</script>
<script src="https://utteranc.es/client.js"
        repo="https://github.com/zmzbj/zmzbj.github.io.git"
        issue-term="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>